.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    /* background-color: #007bff; */
    background-color: rgb(136, 255, 17);
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: all 0.3s ease-in-out;
  }
  
  .scroll-to-top:hover {
    /* background-color: #0056b3; */
    transform: scale(1.2);
  }
  .scroll-to-top a{

    color: #fff;
    margin-bottom: 5px;
  }

  @media (max-width: 768px) {
    .scroll-to-top {
      width: 40px;
      height: 40px;
      font-size: 1.2rem;
      bottom: 15px;
      right: 15px;
    }
  }
  